<% if @passenger.nil? %>
	<h3>You have to create your passenger profile first!</h3>
	<a href="<%= new_passenger_path %>" class="btn btn-success">Create your Profile</a>

<%else%>
<h3>My Tickets</h3>
<% if !(@tickets.size == 0) %>
<ul class="nav nav-tabs">
	<% @tickets.pluck(:travel_class).uniq.each do |t_class| %>
    	<li> <a href="#<%= t_class %>" data-target="#<%= t_class %>" data-toggle="tab"><%= t_class %> Class</a></li>
    <%end%>
</ul>

<% if params[:cancel_ticket] %>
	<script>
		swal(
		    'Cancelled!',
		    'Your ticket has been cancelled.',
		    'success'
		  )
	</script>
<%end%>

<div class="tab-content">
    	<% @tickets.pluck(:travel_class).uniq.each do |t_class| %>
    	<div class="tab-pane active fade in" id="<%= t_class %>">
    		<%  tickets = @tickets.where('travel_class = ?', t_class) %>
    		<% tickets.order('date_journey DESC').each do |ticket|%>
    		<div class="col-md-4">
			<div class="card ">
			  	<div style="padding: 20px 0 20px 20px; background-color: #577590; color: white; height: 233px">
			  		<h4><b><%= ticket.airline.name %> - </b><%= ticket.travel_class %> Class<b></b></h4>
			  		<p> <b>Status : </b><%= ticket.status.capitalize %> </p> 
				    <p> <b>Booking Reference :</b> <%= ticket.booking_number %></p>
				    

				    <p> <b>Journey :</b> <%= ticket.date_journey.strftime("%d %b %Y") %></p>
				    <p><b>Meal :</b>
						<%if ticket.meals.nil?%>
							None
						<%else%>
							<% meals = ticket.meals.pluck(:meal_type).join(', ') %>
							<%= meals %>
						<%end%>
				    </p>
				  	<script>
				  			$('#cancelButton<%= ticket.id %>').on("click", function(e){
				  				e.preventDefault()
				  				swal({
								  title: 'Are you sure?',
								  text: "You won't be able to revert this!",
								  type: 'warning',
								  showCancelButton: true,
								  confirmButtonColor: '#3085d6',
								  cancelButtonColor: '#d33',
								  confirmButtonText: 'Yes, cancel it!',
								  cancelButtonText: 'No',
								  confirmButtonClass: 'btn btn-success',
								  cancelButtonClass: 'btn btn-danger',
								  buttonsStyling: false
								}).then(function () {
									$('#cancelForm<%= ticket.id %>').submit()
								  
								}, function (dismiss) {
								  // dismiss can be 'cancel', 'overlay',
								  // 'close', and 'timer'
								  if (dismiss === 'cancel') {
								    swal(
								      'No change!',
								      'Your ticket is safe :)',
								      'error'
								    )
								  }
								})
				  			})
				  			
				  	</script>
				  	
				 
				  	<% if !(ticket.status == "Cancelled") %>
						<%= form_tag(passengers_my_tickets_path, method: "get", class: "form-inline",id: "cancelForm" + ticket.id.to_s) do %>
							<%= hidden_field_tag :cancel_ticket, ticket.id, class: "form-control" %>
							<%= submit_tag "Cancel Ticket",class: "btn btn-default", id: "cancelButton" + ticket.id.to_s %>
						<% end %>
						
					<%end%>
			  	</div>
			</div>
			</div>
			<%end%>
		</div>
		<%end%>
</div>
<%else%>
	<h4>No tickets booked!</h4> 
	<a href="/airlines" class="btn btn-info">Book Now</a>
<%end%>


<%end%>
        