
<h2>Welcome <%= @user.username %>!</h2>


<% if current_user.passenger %>
	<h3>
		<p> <a href="<%= passengers_my_tickets_path %>" class="btn btn-default">View your tickets
		<% if current_user.passenger.tickets %>
			<span class="badge"><%= current_user.passenger.tickets.size %></span></a></p>
		<%else%>
			(0)</a></p>
		<%end%>
	</h3>
<%else%>
	<h3><%= link_to "Create your Passenger profile", new_passenger_path %></h3>
<%end%>


<div class="row">
	<% @airlines.each do |airline| %>
		
		<div class="col-md-6">
			<div class="card">
				<div class="row">
					<div class="col-md-3" >
						<%= image_tag('flight_img.png', width: "115px")  %>
					</div>
					<div class="col-md-6">
					    <h4><b><%= airline.name %></b> <small><%= airline.flight_number %></small></h4> 
					    <p>Tickets left : <b><%= airline.airline_ticket.tickets_left %></b></p> 
						
					</div>
					<div class="col-md-3" style="margin-top:10px">
						
						<!-- Modal -->
						<div class="modal fade" id="book<%= airline.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title well well-sm" id="myModalLabel"> <b><%= airline.name %></b> - <small><%= airline.flight_number %></small> </h4>
						      </div>
						      <div class="modal-body">
						        <div class="row">
									<div class="col-md-6 col-md-offset-3">
										<%= form_for @ticket do |f| %>
										
											<script>
												$(document).ready(function(){
													$("#dateJourney<%= airline.id %>").datepicker({
														"dateFormat" : "yy-mm-dd",
														"minDate" : 0 ,
														"maxDate" : 15 
													})
												})
											</script>
											<div class="form-group">
												<%= f.label "Date of journey" %> <br>
												<%= f.text_field :date_journey, id: "dateJourney" + airline.id.to_s, class: "form-control" %>	
											</div>


											<div class="form-group">
												<%= f.label :travel_class %> <br>
												
													<label class="radio-inline">
														<%= f.radio_button :travel_class, "First" %> First Class
													</label> 
												

												
													<label class="radio-inline">
														<%= f.radio_button :travel_class, "Business" %> Business Class
													</label> <br>
												

												
													<label class="radio-inline">
														<%= f.radio_button :travel_class, "Economy" %> Economy Class
													</label> 
											</div>

											

											<div class="form-group" >
												<%= f.label "Meal (Max 2 nos)" %> <br>
												<%= f.collection_select :meal_ids, Meal.all, :id, :meal_type,{prompt: ""}, {class: "chosen-select", multiple: true} %>
											</div>

											<script>
												 $(".chosen-select").chosen({
												    max_selected_options: 2,
												    width: "100%",
												    placeholder_text_multiple: "Choose any 2 meal!"

												  });
											</script>

											<%= f.hidden_field :airline_id, value: airline.id %>
											
											<div class="actions text-center">
												<%= f.submit "Book", class: "btn btn-danger" %>	
											</div>
										<%end%>		
									</div>
								</div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						       
						      </div>
						    </div>
						  </div>
						</div>

						<p>
						
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#book<%= airline.id %>Modal" style="margin-top: 10px">	
							Book
						</button></p>
					</div>
				</div>
			</div>  
		</div>
	<%end%>	
</div>


